//background
.bg-tracery{
    background: url(../img/tracery.png) no-repeat center center;
    background-size:cover;
}
.bg-darken{
    background-color: $dtransparent;
}
.bg-main{
    background:  url(../img/bg-banner.png) no-repeat center center;
    background-size:cover;
}
