// circle for icons
.fa__circle{
    .fa:before{
    color:#fff;
    border: 1px solid #b6c0c1;
    background: #b6c0c1;
    border-radius: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
    &_sm{
        .fa:before{
            width: 2rem;
            height: 2rem;
            margin: 3px;
        }
    }
    &_md{
        .fa:before{
            width: 4rem;
            height: 4rem;
            margin: 3px;
        }
    }
    &_lg{
        .fa:before{
            color: #b2bebe;
            background: #FFf;
            border: 1px solid #b6c0c1;
            width: 6rem;
            height: 6rem;
            margin: 3px;
        }
    }
}

