//basic form
.basic-form{
    max-width: 540px;
    margin:0 auto;
    &-control{
        color:$white;
        border: 1px solid  $transparent;
        background-color: $transparent;
        border-radius: $border-radius;
    }
    &-control:focus{
        color:$white;
        background-color: $transparent;
        border-radius: $border-radius;
    }
}
.py-form{
    padding: 4rem 0 2rem;
}
//header
.header-form{
    &-control{
        border: 1px solid $red;
        border-radius: $border-radius;
    }
}
//search section form
.search-form{
    &-group{
        padding: 0 20px 0;
    }
    &-padding{
        padding: 1rem;
    }
    .btn{
        font-size: 18px;
        padding: 1rem 2rem;
    }
}
//footer
.subscribe-form{
    &-padding{
        padding: 1rem 8rem 1rem 3.5rem;
    }
    &-btn{
        position: absolute;
        right:0.3rem;
        top: 6%;
        padding: 0.75rem;
    }
    &-fa{
        position: absolute;
        top: 40%;
        left:1.5rem;
    }
}