.posts{
    border-top: 1px solid $lgrey;
    border-bottom: 1px solid $lgrey;
    padding: 2rem 0 2rem;
}
.star{
    &-orange{
        .fa{
            color: $orange;
        }
    }
    &-white{
        .fa{
            color: $white;
        }
    }
}
.card-green{
    .border-color{
        border-top: 3px solid $green;
    }
    .text-color{
        color: $green;
    }
    .price-color{
        background-color: $green;
    }
}
.card-orange{
    .border-color{
        border-top: 3px solid $orange;
    }
    .text-color{
        color: $orange;
    }
    .price-color{
        background-color: $orange;
    }
}
.card-purple{
    .border-color{
        border-top: 3px solid $purple;
    }
    .text-color{
        color: $purple;
    }
    .price-color{
        background-color: $purple;
    }
}
div[attr|="col"]{
    display:flex;
    width:100%;
}
.card{

    margin: 0.75rem 0 0.75rem;
    &-body{
        padding: 1rem;
        position:relative;
    }
}
.card-sm{
    &-icon{
        width: 100%;
        position: absolute;
        top: -20%;
        left:0; 
        text-align: center;
    }
    &-text{
        padding-top:1rem;
    }
    &-place{
        font-weight:bold;
        text-transform: uppercase;
    }
    &-price{
        position: absolute;
        top:5px; 
        right:5px; 
        padding: 0.3rem 0.8rem 0.3rem;
        border-radius: 2.3rem;
        color:$white;
        font-size: 12px;
    }

}
.card-md{
    &-rate{
        padding-left:6rem;
        position: absolute;
        bottom: 3px;
    }
    &-icon{
        top: -23%;
        position: absolute;
    }
    &-text:before { 
    content: ' " ';
    }
    &-text:after { 
        content: ' " ';
    }
    .transparent{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3rem;
        background: linear-gradient(rgba(255, 255, 255, 0),rgb(0, 0, 0));
    }
    .comment{
        background-color: $white;
    }
    .border-grey{
        border: 3px solid $lgrey;
        border-radius: 50%;
    }
}

.card{
    
}