.posts{
    border-top: 1px solid $lgrey;
    border-bottom: 1px solid $lgrey;
    padding: 2rem 0 2rem;
}
.star{
    &-orange{
        .fa{
            color: $orange;
        }
    }
    &-white{
        .fa{
            color: $white;
        }
    }
}