.search-section{
    text-align: center;
    background: url(../img/bg-banner.png);
    background-size:cover;
    color: #fff;
    padding: 4rem 0 2rem;
}
.search-form{
    max-width: 540px;
    margin:0 auto;
    &-group{
        padding: 0 20px 0;
    }
    .btn{
        padding: 1rem 2rem;
    }
}


