$red:#e94e38;
$green:#1db05e;
$orange:#f19e1f;
$purple:#88499c;
$ddgrey:#4b5b6a;
$grey: #9dacad;
$lgrey: #e2dee0;
$llgrey:#f3f1f2;
$white:#ffffff;
$transparent:rgba(255, 255, 255, 0.1);
$dtransparent:rgba(0, 0, 0, 0.6);
$border-radius: 30px;


